<h1>Grados tecnicos RETAMAR</h1>


<ul class="list-group list-group-flush">
  <li class="list-group-item">Aplicacion WEB realizada por Victor Millo para el ciclo de DAM</li>
  <li class="list-group-item">Aplicacion realizada para el modulo de DI, hecha en angular que consta de:</li>
</ul>


<ul class="list-group">
    <li class="list-group-item">Componente home: representa la entrega inicial de la aplicación</li>
    <li class="list-group-item">Componente Ciclos: representa tantas cartas como ciclos existan en el servicio
      CiclosService</li>
    <li class="list-group-item">Componente Asignaturas: representa tantas cartas como asignaturas haya en
      el servicio AsignaturasService. Adicionalmente se cuenta con un filtro para
      poder ver asignaturas específicas</li>
    <li class="list-group-item">Componente Asignatura: representa el aspecto que tendrá una carta de las de
      arriba mencionadas</li>
    <li class="list-group-item">Componente DetalleCiclo: representa el detalle de un ciclo, donde se
      mostrarán los conocimientos necesarios para poder aprobar el ciclo y todas las
      asignaturas que lo componen</li>
    
    <li class="list-group-item">Componente NavBar: representa la barra de navegación superior, donde se
      muestra un menú con las siguientes posibilidades
     
      <ul>
        <li class="circle">Componente home: representa la entrega inicial de la aplicación</li>
        <li class="circle">Componente Ciclos: representa tantas cartas como ciclos existan en el servicio
          CiclosService</li>
        <li class="circle">Componente Asignaturas: representa tantas cartas como asignaturas haya en
          el servicio AsignaturasService. Adicionalmente se cuenta con un filtro para
          poder ver asignaturas específicas</li>
        
      </ul>
    </li>
    <li class="list-group-item">Servicios: Se deberá crear al menos dos servicios que provean de datos tanto
      para los ciclos como para las asignaturas</li>
    <li class="list-group-item">Pipes: se deberá crear al menos dos directivas personalizada que realice alguna
      transformación en la aplicación</li>
    
</ul>
<br>

<a href="https://retamar.com/">
<button type="button" class="btn btn-primary">Ir a la web</button>


